Flask==3.0.3
gspread==6.2.1
google-auth==2.30.0
gunicorn==22.0.0
flask-cors==4.0.0
feedparser==6.0.11
openai==1.30.0
python-dateutil
# tvinga pip att ersätta ev. äldre beroenden
--upgrade-strategy eager
openai==1.30.0
